$primary-color: #9356dc;
$secondary-color: #ff79da;
$third-color: #99e2d0;
$light-color: white;
$dark-color: black;
$light-gray: #f6f6f6;
$gray: #eaeaea;
$dark-gray: #353535;

$first-font: "Shrikhand", cursive;
$second-font: "Roboto", sans-serif;

* {
  margin: 0;
  padding: 0;
  list-style: none;
  outline: none;
  box-sizing: border-box;
  text-decoration: none;
  scroll-behavior: smooth;
  font-family: $second-font;
  color: $dark-gray;
}

h1 {
  font-size: 20px;
}

h2 {
  font-size: 20px;
}

.nav {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;

  &__logo {
    position: relative;
    padding: 4%;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: $first-font;
    font-size: 25px;
    box-shadow: 0px -5px 10px $dark-gray;
    z-index: 1;
    &__back {
      position: absolute;
      left: 5%;
      width: auto;
      height: 20%;
      display: flex;
      align-items: center;
      justify-content: center;
      img {
        width: 100%;
        height: 100%;
      }
    }
  }
  &__loc {
    padding: 15px;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    background: $gray;
    color: $dark-gray;
    img {
      width: 15px;
      height: 15px;
    }
  }
}

footer {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  background: $dark-gray;
  ul {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    gap: 5px;

    li {
      color: $light-color;
    }
  }
  h4 {
    margin: 0 0 10px 0;
    font-family: $first-font;
    font-weight: 100;
    font-size: 14px;
  }

  h4,
  a {
    display: flex;
    align-items: center;
    font-size: 12px;
    font-weight: 500;
    color: $light-color;
    gap: 10px;
    img {
      width: auto;
      height: 12px;
    }
  }
  .footer__thin {
    font-weight: 300;
  }
}

//animation appear on loading

.appear__element {
  $cards: 3;
  $anim-dur: 1s;
  $anim-delay: $anim-dur / $cards;

  opacity: 0;
  animation: appear $anim-dur ease-in-out;
  animation-fill-mode: forwards;
  @for $i from 1 through $cards {
    &--#{$i} {
      animation-delay: $anim-delay * $i;
    }
  }

  @keyframes appear {
    from {
      opacity: 0;
      transform: translate(0, 50%);
    }

    to {
      opacity: 1;
    }
  }
}

.appear__element--1 {
  animation-delay: 0s;
}
.appear__element--2 {
  animation-delay: 0.1s;
}
.appear__element--3 {
  animation-delay: 0.2s;
}

@media screen and (min-width: 1024px) {
  h1 {
    font-size: 32px;
  }

  h2 {
    font-size: 32px;
  }

  h5 {
    font-size: 16px;
  }

  h6 {
    font-size: 13px;
  }

  .nav {
    align-items: left;
    justify-content: left;
    &__logo {
      padding: 2%;
      font-size: 50px;
      background: $light-color;
    }
    &__loc {
      font-size: 20px;
    }
  }

  .cta {
    transition: all 0.2s ease-in-out;
    &:hover {
      transform: scale(1.02);
      background: linear-gradient(-15deg, $primary-color, $secondary-color);
    }
  }

  footer {
    ul {
      flex-direction: row;
      align-items: center;
      justify-content: space-around;
      h4 {
        padding: 0;
        margin: 0;
        font-size: 22px;
      }
      a {
        position: relative;
        font-size: 16px;
      }
      a::after {
        content: "";
        position: absolute;
        bottom: -30%;
        width: 0px;
        height: 1.5px;
        background: $third-color;
        transition: all 0.7s ease-in-out;
      }
      a:hover::after {
        width: 30%;
      }
    }
  }
}
