$primary-color: #9356dc;
$secondary-color: #ff79da;
$third-color: #99e2d0;
$light-color: white;
$dark-color: black;
$light-gray: #f6f6f6;
$gray: #eaeaea;
$dark-gray: #353535;

$first-font: "Shrikhand", cursive;
$second-font: "Roboto", sans-serif;

* {
  margin: 0;
  padding: 0;
  list-style: none;
  outline: none;
  box-sizing: border-box;
  text-decoration: none;
  scroll-behavior: smooth;
  font-family: $second-font;
  color: $dark-gray;
}

h1 {
  font-size: 20px;
}

h2 {
  font-size: 20px;
}

.nav {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;

  &__logo {
    position: relative;
    padding: 4%;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px -5px 10px $dark-gray;
    z-index: 1;
    &__back {
      position: absolute;
      top: 50%;
      left: 0;
      width: auto;
      height: auto;
      transform: translate(0, -50%);
      img {
        width: 50px !important;
        height: 15px !important;
      }
    }
    img {
      width: auto;
      height: 25px;
    }
  }
  &__loc {
    padding: 15px;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: $gray;
    color: $dark-gray;
  }
}

footer {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  background: $dark-gray;
  ul {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    gap: 5px;
    li {
      color: $light-color;
    }
  }
  h4 {
    margin: 0 0 10px 0;
    font-family: $first-font;
    font-weight: 100;
    font-size: 14px;
  }

  h4,
  a {
    display: flex;
    font-size: 12px;
    color: $light-color;
  }
  .footer__thin {
    font-weight: 300;
  }
}

//animation appear on loading

.appear__element{
  animation: appear 1s ease-in-out;
  @keyframes appear {
    from{
      opacity: 0;
      transform: translate(0, 50%);
    }

    to{
      opacity: 1;
    }
  }
}

@media screen and (min-width: 1024px) {
  h1 {
    font-size: 32px;
  }

  h2 {
    font-size: 32px;
  }

  h5 {
    font-size: 16px;
  }

  h6 {
    font-size: 13px;
  }

  .nav {
    align-items: left;
    justify-content: left;
    &__logo {
      padding: 2%;
      background: $light-color;
      img {
        height: 50px;
      }
    }
    &__loc {
      font-size: 20px;
    }
  }

  footer {
    ul {
      flex-direction: row;
      align-items: center;
      justify-content: space-around;
      h4 {
        padding: 0;
        margin: 0;
        font-size: 22px;
      }
      li {
        font-size: 16px;
      }
    }
  }
}
